
  :root{
    --main: #FFFCFF;
    --sec: #0A100D;
    --third: #40F99B;
    --accent: #9381FF;
}

body {
    overflow-x: hidden;
    color: var(--main);
  }

/* main{
    margin-left: 10vh;
    margin-right: 10vh;
} */

h1, h2, h3, h4, h5, p {
  color: var(--sec);
  font-family: Lexend;
}


p{
  font-family: Zilla Slab;
  font-weight: 500;
}

img{
  display: block;
  max-width: 100%;
}


/* navbar */ 

@media only screen and (max-width: 428px) {
  .navbar-nav {
    width: 100%;
    display: flex !important;
    justify-content: start !important;
    padding-left: 18px;
  }

  .sectionNome{
    display: flex;
    align-items: center;
  }

  .sectionAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sectionSkills{
    display: flex;
    align-items: center;
  }

  .sectionProg{
    display: flex;
    align-items: center;
  }

  h1.nome{
    font-size: 24.936px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.997px;
    text-align: center;
  }
  h3.fullStack{
    display: flex;
    font-size: 22.389px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    display: flex;    
    justify-content: center;
    letter-spacing: 2.911px;
  }
  .fotoCol{
    margin-top: -100px;
  }
  .descr{
    margin-bottom: 20px;
  }
  .illustration{
    width: 200px;
  }
  .tipoProgetti{
    display: flex;
    justify-content: start !important;
    width: 100%;
  }
  .tutti{
    margin-left: 0 !important;
  }
  .tutti, .frontend, .backend{
    margin-right: 60px;
  }
  .card{
    width: 200px !important;
    height: 120px !important;
  }
  main{
    margin-left: 2vh;
    margin-right: 2vh;
  }
}

nav{
  background-color: var(--third) !important;
  border-radius: 0px 0px 20px 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15)) drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.13)) drop-shadow(0px 16px 10px rgba(0, 0, 0, 0.08)) drop-shadow(0px 29px 11px rgba(0, 0, 0, 0.02)) drop-shadow(0px 45px 13px rgba(0, 0, 0, 0.00));
}

.nav-link{
  color: var(--sec);
  font-weight: bold;
  font-family: Lexend;
}

.nav-link:hover{
  color: var(--accent);
}

.navbar-toggler, .menuButton {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}



/* icona navbar */
.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    background: none;
    /* border: 1px solid #171717; */
    transition: all .3s;
    /* box-shadow: inset 4px 4px 12px #3a3a3a,
               inset -4px -4px 12px #000000; */
  }
  
  .menuButton:hover {
    border: 1px solid black;
  }
  
  .menuButton:active {
    color: #666;
    box-shadow: 6px 6px 12px #3a3a3a,
               -6px -6px 12px #000000;
  }
  
  input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .menuButton span {
    width: 30px;
    height: 4px;
    background: var(--sec);
    border-radius: 100px;
    transition: 0.3s ease;
  }
  
  input[type]:checked ~ span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
  }
  
  input[type]:checked ~ span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
  }
  
  input[type]:checked ~ span.mid {
    transform: translateX(-20px);
    opacity: 0;
  }
  

  /* nome e foto */

  .nomeFoto{
    padding-top: 40vh;
    max-width: 1920px;
  }

  .nome{
    color: var(--sec);
    font-family: Lexend;
    font-size: 45.492px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.14px;

  }

  .fullStack{
    color: var(--accent);
    font-family: "Zilla Slab";
    font-size: 39.028px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.244px;
  }



  .foto{
    margin-top: 15vh;
  }

/* chi sono */

.illustration{
  width:600px;
  height: 600px;
  background-image: url(media/img/Illustration.png);
  background-repeat: no-repeat;
  background-position: center;
}
.illustration:hover{
  cursor: pointer;
}

@media only screen and (max-width: 428px) {
  .illustration {
    display: flex;
    justify-content: center;
    width:300px;
    height:300px;
    background-image: url(media/img/IllustrationMobile.png);
  }
}

/* skills */
.scatolaLinguaggio{
  display: flex;
}

.barra{
  background-color: var(--accent);
  width: 100%;
  height: 40%;
  border-radius: 50px;
  
}

#barra1{
  width: 80%;
  height: 100%;
  background-color: var(--third);
  border-radius: 50px;
  border-right: 2px solid var(--main);
}

#barra2{
  width: 90%;
  height: 100%;
  background-color: var(--third);
  border-radius: 50px;
  border-right: 2px solid var(--main);
}

#barra3{
  width: 80%;
  height: 100%;
  background-color: var(--third);
  border-radius: 50px;
  border-right: 2px solid var(--main);
}

#barra4{
  width: 65%;
  height: 100%;
  background-color: var(--third);
  border-radius: 50px;
  border-right: 2px solid var(--main);
}

#barra5{
  width: 90%;
  height: 100%;
  background-color: var(--third);
  border-radius: 50px;
  border-right: 2px solid var(--main);
}

#barra6{
  width: 80%;
  height: 100%;
  background-color: var(--third);
  border-radius: 50px;
  border-right: 2px solid var(--main);
}


/* Progetti */

h5{
  display: inline-block;
  position: relative;

}

h5:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--sec);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

h5:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* card */

.btn{
  background-color: var(--accent);
  color: var(--main);
  font-family: Lexend;
}

.btn:hover{
  background-color: var(--main);
  color: var(--accent);
  border-color: var(--accent);
}

.card {
  position: relative;
  width: 300px;
  height: 220px;
  background-color: var(--third);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card svg {
  width: 48px;
  fill: var(--sec);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--main);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: var(--sec);
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--sec);
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

